body {
	font-family: system-ui, "Helvetica", sans-serif;
	color: #333
}

h1 {
	font-family: Futura;
	font-size: 24;
	text-align: center;
	font-weight: lighter
}

hr {
  border: 0.5px solid darkgreen;
}

a {
	color: darkgreen;
}

a:hover {
	color: green
}

a#home {
	color: #333;
	text-decoration: none;
}

a#home:hover {
	color: #777
}

.main {
	width: 70%;
	margin: auto 
}

.small {
	text-align: center;
	font-size: smaller;
}

.preview {
	width: 100px
}

.title {
	font-size: 11pt;
	margin: 0;
}

.author {
	font-size: 10pt;
	margin-top: .4em;
	margin-bottom: .4em;
}

.metadata {
	font-size: 10pt;
	margin: 0;
}